.hideSpinner {
    display: none;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 30px;
}

.ringSpinner {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.ringSpinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #2828ff;
    border-color: #2828ff transparent #2828ff transparent;
    animation: ringSpinner 1.2s linear infinite;
}
@keyframes ringSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
